<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="heart.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>quote for u</title>
</head>
<body>
    <div class="clock_frame">
        <div class="quote_frame"><p class="quote_main">{{quote}}</p><p class="quote_author">{{author}}</p></div>
        <div class="clock_about">DAYS PAST THIS YEAR</div>
        <div class="clock_data"></div>
    </div>
    <footer class="footer_quote">Go and win the rest of the day</footer>
</body>
<script src="DOM.js"></script>
</html>